/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
  --text-color: #f1b2ce;
  --section-header-color: #000028;
  --title-decor-bgcolor: #ff0070;
  --main-header-color: #db00ff;
  --page-bgcolor: #000028;
  --button-hover-color: rgba(255, 0, 112, 0.4);
}

.theme_dark .header__rec {
  display: flex;
}
