/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --accent-color: #353430;
    --bg-image: url("../images/cover-image-light.png");
    --text-color: #353430;
    --section-header-color: #353430;
    --title-decor-bgcolor: #FF8DCB;
    --main-header-color: #FFC2E6;
}

.page.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light){
  :root {
    --accent-color: #353430;
    --bg-image: url("../images/cover-image-light.png");
    --text-color: #353430;
    --section-header-color: #353430;
    --title-decor-bgcolor: #FF8DCB;
    --main-header-color: #FFC2E6;
  }

  .header__rec {
    display: none;
  }
}