/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #353430;
  --bg-image: url("../images/cover-image-light.png");
  --text-color: #353430;
  --section-header-color: #353430;
  --title-decor-bgcolor: #ff8dcb;
  --main-header-color: #ffc2e6;
}

.page.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --bg-image: url("../images/cover-image-light.png");
    --text-color: #353430;
    --section-header-color: #353430;
    --title-decor-bgcolor: #ff8dcb;
    --main-header-color: #ffc2e6;
  }

  .header__rec {
    display: none;
  }
}
